* {
    box-sizing: inherit;
}

@keyframes bgcolor {
    0% {
        background-color: #1FAC25
    }

    20% {
        background-color: #FFE416
    }

    40% {
        background-color: #FF6539
    }

    60% {
        background-color: #FF4C38
    }

    80% {
        background-color: #8758BE
    }

    100% {
        background-color: #5CAEEB
    }
}

body {
    -webkit-animation: bgcolor 35s infinite;
    animation: bgcolor 25s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin:0;
    padding: 0;
}

h2 {
  margin-bottom: 20px;
}

/* special classes */

.wrapper {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem 2rem;
}
.bottom {
  margin-top: 20px;
}
/* orange bar: View Country Facts */


.skyComparison {
  margin-top:20px;
}


.box {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.box1 {
  background: white;
  transition: all 300ms;
}

.box:hover {
  background-color: black;
}

.transform {
  transform: scale(2.5);
}

#dog-img {
  width:200px;
  height: 200px;
}
